/*
 * @Author: tarn.tianrun 
 * @Date: 2018-02-26 15:18:37 
 * @Last Modified by: tarn.tianrun
 * @Last Modified time: 2018-03-20 21:49:15
 */
 .detail-list-main{
	position: absolute;
	width: 100%;
	margin-top: 40px;
}
.detail-info{
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #d3d3d3;
}
.detail-left{
	text-align: left;
	span{
		font-size: 13px;
		color: red;
	}
}
.detail-right{
	align-self: flex-end;
	font-size: 13px;
}